@page
@model LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<body class="bg-light">
    <div class="container mt-4">
        <div class="text-center mb-4">
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="p-3 bg-white shadow rounded">
                    Ingresos Totales
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3 bg-white shadow rounded">
                    Ganancia Neta Total
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3 bg-white shadow rounded">
                    Órdenes Totales
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3 bg-white shadow rounded">
                    Visitas Totales a Tiendas
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <img src="/images/bar-chart.jpg">
            </div>
            <div class="col-md-6">
                <img src="/images/pie-chart.jpg"
            </div>
        </div>
    </div>
</body>
</html>
